/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #FEFAE0;
    color: white;
    font-family: Helvetica, sans-serif;
}

body,
html {
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCF50;
    color: black;
    height: 4rem;
    font-size: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 2px;
    background-color: #FFCF50;
    color: black;
    width: 6rem;
    height: 3rem;
    box-shadow: 4px 4px 8px rgb(177, 177, 177);
    transition: transform 0.06s ease, border 0.06s ease, background-color 0.06s ease;
}

button:hover {
    background-color: #ffd769;
    transform: translateY(-0.5rem);
    border: 4px solid orange;
}

.add {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 1.2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2px;
}

.add:hover {
    transform: translate(-50%, -50%) translateY(-0.5rem);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

form p {
    display: flex;
    flex-direction: column;
}

form p,
.checkbox,
.checkbox-container {
    font-size: 1.4rem;
}

form p:not(:last-child) {
    gap: 1rem;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.checkbox-container label {
    grid-column: 1;
}

.checkbox-container input[type="checkbox"] {
    grid-column: 2;
    justify-self: center;
    height: 2rem;
    width: 2rem;
}

.form-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 18rem;
    background-color: #FEFAE0;
    color: black;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgb(177, 177, 177);
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-left: 1rem solid #FFCF50;
    border-bottom: 2px solid gray;
    gap: 2rem;
    padding: 1rem;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: repeat(auto-fill, 24rem);
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 3rem;
    justify-items: center;
    align-items: center;
}

.card-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    position: relative;
}

.book-input {
    flex: 1;
    padding: 1rem;
    font-size: 1.3rem;
}

@media screen and (max-width: 750px) {
    :root {
        font-size: 14px;
    }

    .book-container {
        padding: 0rem;
        row-gap: 0.5rem;
        column-gap: 0.25rem;
        grid-template-columns: 1fr 1fr;
    }

    .book-card {
        align-items: flex-start;
        width: 12rem;
    }

    button {
        font-size: 1.1rem;
        width: 5rem;
        height: 3rem;
    }

    .dialog {
        top: 5%;
        transform: translateY(0) translateX(-50%);
    }
}